@font-face {
    font-family: 'Sansation';
    src: url('/fonts/Sansation_Regular.ttf') format('woff2'),
         url('/fonts/Sansation_Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sansation';
    src: url('/fonts/Sansation_Bold.ttf') format('woff2'),
         url('/fonts/Sansation_Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  